.image {
    height: 400px;
    width: 300px;
}

.item {
    color: black;
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 50px;
}

.contacts {
    padding-left: 10px;
    color: #5d5151;
}