.dialogs {
    display: grid;
    grid-template-columns: 2fr  10fr
}

.dialogsItems {

    padding: 10px;
}

.nameDialog {

}
.dialogsItems .active{
    color: gold;
}
.img {
    height: 20px;
    border-radius: 8px;

}


.messages {
    padding: 10px;
}

